body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* SIDEBAR */

.sidebar {
    height: 5rem;
    width: 100%;
    color: white;
    background-color: #3b3939;
}

.sidebar-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}

.page-title {
    color: #819fe0;
}

.menu-button {

}

.sidebar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.sidebar-menu-items {
    display: flex;
    flex-direction: row;
}

.sidebar-menu-items > div {
    margin: 0 1rem;
    color: #819fe0;
}

.nav-welcome-message {
    font-size: 1.2rem;
    font-weight: 300;
}

.nav-menu-button {
    width: 1.8rem;
    filter: invert(99%) sepia(3%) saturate(1233%) hue-rotate(241deg) brightness(114%) contrast(80%);
}

.profile-image-small {
    max-width: 1.8rem;
    max-height: 1.8rem;
    border-radius: 180px;
}

/* SIDEBAR */

/* WIDGET PANE */

.widget-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.widget-pane-sidestrip {
    width: 2rem;
    background-color: #3b3939;
}


.widget {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-height: 15rem;
    background-color: #fafafa;
    padding: 0 0 0.8rem 0;
    border: 1px solid black;
    box-shadow: 5px 5px 8px 1px #888888;
}

.widget-title > h3 {
    margin: 0 auto;
    width: 100%;
    background-color: black;
    color: white;
}

.widget-title > h3 > span {
    margin: 0.4rem;
    display: inline-block;
}

/* WIDGETS */

/* DATE & TIME WIDGET */

.dateDisplay {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;

}

.timeDisplay {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;

}

/* DATE & TIME WIDGET */

/* WIDGETS */

/* WIDGET PANE */
