/* NAV */

.sidebar {
    color: white;
    background-color: #3b3939;
}

.page-title {
    color: #819fe0;
}

.sidebar-menu-items > div {
    color: #819fe0;
}

.nav-welcome-message {
    font-weight: 300;
}

.nav-menu-button {
    filter: invert(99%) sepia(3%) saturate(1233%) hue-rotate(241deg) brightness(114%) contrast(80%);
}

/* NAV */

/* WIDGET PANE */

.widget-pane-sidestrip {
    background-color: #3b3939;
}

.widget {
    background-color: #fafafa;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 8px 1px #888888;
}

.widget-title {
    font-weight: 200;
    border-radius: 5px 0 180px 0;
    background-color: #ecbb29;
}

.widget-sidestrip {
    border-radius: 0 0 0 5px;
    background-color: #ecbb29;
}

/* WIDGETS */

